.title {
    font-family: 'Playfair Display';
}

.framework-container {
    background-color: #ffffff;
}

.etapa {
    width: 70vw;
    height: 100vh;
    padding-top: 10vh;
    color: #68597d;
    margin: 0 10vw 0 18vw;
    box-sizing: border-box;
}

.etapa .title {
    font-size: 39px;
    font-style: italic; 
    margin-bottom: 5px;
}


.etapa .title+hr {
    width: 20%;
    margin: 0;
    border-width: 0;
    height: 3px;
    background-color: #68597d;
    color: #68597d;

    
}


.etapa .etapa-container .card .title+hr {
    width: 10%;
}

.etapa .etapa-container {
    margin-top: 30px;
    width: 68vw;
    height: 100vh;
    
    display: flex;  
    flex-flow: column wrap;
    justify-content: flex-start;
    
}

.etapas-barra {
    height: 100vh;
    background-color: #e9defe;
    width: 17vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #68597d;
    position: fixed;
    
}

.fCBar {
    width: 10vw;
    min-width: inherit;
    background-color: #68597d;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    color:  #fce4e3;
    border-left: 8px solid #f49585;
    /* padding-left: 1em; */
    text-align: center;
    box-sizing: border-box;
}

.etapas-barra > .opcoes-container {
    display: flex;
    height: 80%;
    flex-direction: column;
    color: #aea4bc;  
}

.etapas-barra > .opcoes-container > button {
    height: 15%;
    text-align: center;
    padding-top: 10px;
    transition: 1s all;
    font-size: 18px;
    background: none;
    border: none;
    color: inherit;
}

.etapas-barra > .opcoes-container > button:hover {
    cursor: pointer;
    background-color: #aea4bc;
    color: #68597d;
    transition: all 0.1;
}

.etapas-barra > .opcoes-container > button  i {
    font-size: 30px;
    margin-bottom: 3px; 
}

.etapas-barra > .opcoes-container > .selectedStep {
    background-color: #68597d;
    color: #e9defe;
    transition: 1s all;
}

.etapas-barra > .opcoes-container > .selectedStep:hover {
    background-color: #68597d;
    color: #e9defe;
    transition: 1s all;
}

.card {
    width: 49%;
    margin: 5px;
    padding: 1em;
    box-sizing: border-box;
    height: fit-content;
    display: inline-block;   
}

.etapa> .etapa-container> .card> .title {
    color: #f8f2fc;
    font-size: 30px;
}

.etapa> .etapa-container> .card > .title +hr{
    margin-bottom: 10px;
    background-color: #f8f2fc;
    width: 6em;
}

.objetivos {
    background-color: #a6679c;
    color: #f8f2fc;
}

.desc {
    color: #68597d;
}

.atividades {
    background-color: #AfA5BC;
    padding: 0;
}

.atividades > .title, .atividades > .title+ hr {
    margin-left: 1em;
}

.lembrete {
    background-color: #f49585;
    min-height: 250px;
}

.objetivos ul {
    margin-left: 10px;
}

.objetivos >ul > li {
    margin-bottom: 1.3em;
    border-left: solid 2px #f8f2fc;
    padding-left: 1em;
    min-height: 2em;
}

.atividades > ul > li {
    
    border-top: 2px solid #68597d;
    min-height: 3em;
    padding: 0.9em 0 0 2em;
    box-sizing: border-box;
}

.fCBar > h1 {
    font-family: 'Playfair Display';
    font-size: 70px;
    font-style: italic;
    margin: 10% 0 40% 0;
}

.fCBar > ul {
    margin-top: 70px;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

.fCBar > ul > li {
    height: 15%; 
    font-weight: bolder;
    width: 100%;
    padding-top: 30px;
    box-sizing: border-box;
    
}


.fCBar > ul > li > i {
    font-size: 2em;
    margin-bottom: 10px;
}

.fCBar > ul > li:hover {
    background-color: #a6679c;
    cursor: pointer;
}